<launch>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navstack_pub)/rviz/nav_yolo.rviz" output="screen"/>
  <!-- Subscribe: /initialpose, /move_base_simple/goal -->
  <!-- Publish: /initial_2d, /goal_2d --> 
  <node pkg="localization_data_pub" type="rviz_click_to_2d" name="rviz_click_to_2d">
  </node>   

  <!-- Map File -->
  <arg name="map_filename" value="$(find cartographer_ros)/bag/23_11_02.pbstream" />"
  
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename youbot_2d_localization.lua
          -load_state_filename $(arg map_filename)"
      output="screen">
    <remap from="/scan" to="scan_filtered" />
    <remap from="/odom" to="odom" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
  <include file="$(find lidar_util)/launch/lidar_init.launch" />
  <include file="$(find urdf_tutorial)/launch/test_base.launch" />

  <!-- Move Base Node -->
  <!-- Subscribe: /move_base_simple/goal -->
  <!-- Publish: /cmd_vel -->


  <arg name="no_static_map" default="false"/>

  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
  <!-- <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS"/> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>  
    <rosparam file="/home/dyros/catkin_junhee_ws/src/navstack_pub/param/planner.yaml" command="load"/>
    <rosparam file="/home/dyros/catkin_junhee_ws/src/navstack_pub/param/move_base_params.yaml" command="load" />

    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="/home/dyros/catkin_junhee_ws/src/navstack_pub/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="/home/dyros/catkin_junhee_ws/src/navstack_pub/param/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <!-- local costmap, needs size -->
    <rosparam file="/home/dyros/catkin_junhee_ws/src/navstack_pub/param/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <param name="local_costmap/width" value="3.0"/>
    <param name="local_costmap/height" value="3.0"/>

    <!-- static global costmap, static map provides size -->
    <rosparam file="/home/dyros/catkin_junhee_ws/src/navstack_pub/param/costmap_global_static.yaml" command="load" ns="global_costmap" unless="$(arg no_static_map)"/>
    
    <!-- global costmap with laser, for odom_navigation_demo -->
    <rosparam file="/home/dyros/catkin_junhee_ws/src/navstack_pub/param/global_costmap_params.yaml" command="load" ns="global_costmap" if="$(arg no_static_map)"/>
    <param name="global_costmap/width" value="100.0" if="$(arg no_static_map)"/>
    <param name="global_costmap/height" value="100.0" if="$(arg no_static_map)"/>
    <remap from="/cmd_vel"                                                         to="/youbot/cmd_vel" />

  </node>

</launch>